<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .box {
      background-color: rgb(185, 62, 40);
      color: white;
      border: 2px solid black;
      margin: 20px;
      padding: 20px;
    }
    </style>

<body>
    <div class="box">
        <p>
            <h1>
                Bảng số liệu và biểu đồ chi tiết doanh thu và kinh phí các khu vực
            </h1>
        </p>
    </div>
    <div>
        <div>
            <p><h2>I.Doanh thu ở Mỹ và Canada</h2></p>
        </div>
        <div class="solieumyvacanada">
            <table class="table table-bordered table-hover table-condensed">
                <thead><tr><th title="Field #1">Phim</th>
                <th title="Field #2">Doanh thu ở Mỹ và Canada ($)</th>
                </tr></thead>
                <tbody><tr>
                <td>Avengers: Hồi kết</td>
                <td>858373000</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Black Panther: Chiến binh Báo Đen</td>
                <td>700059566</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Avengers: Cuộc chiến vô cực</td>
                <td>678815482</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Nhện không còn nhà</td>
                <td>668753195</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Biệt đội siêu anh hùng</td>
                <td>623357910</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Avengers: Đế chế Ultron</td>
                <td>459005868</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Đại úy Marvel</td>
                <td>426829839</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Người sắt 3</td>
                <td>409013994</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Captain America: Nội chiến siêu anh hùng</td>
                <td>408084349</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Nhện xa nhà</td>
                <td>390532085</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Vệ binh dải Ngân hà 2</td>
                <td>389813101</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Nhện trở về nhà</td>
                <td>334201140</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Vệ binh dải Ngân hà</td>
                <td>333176600</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Người sắt</td>
                <td>318,412,101</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Thor: Tận thế Ragnarok</td>
                <td>315058289</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Người sắt 2</td>
                <td>312433331</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Captain America 2: Chiến binh mùa đông</td>
                <td>259766572</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Doctor Strange: Phù thủy tối thượng</td>
                <td>232,641,920</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Shang-Chi và huyền thoại thập luân</td>
                <td>224543292</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Người kiến và Chiến binh ong</td>
                <td>216648740</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Thor 2: Thế giới Bóng tối</td>
                <td>206362140</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Góa phụ đen</td>
                <td>183651655</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Thor</td>
                <td>181030624</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Kiến/td>
                <td>180202163</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Captain America: Kẻ báo thù đầu tiên</td>
                <td>176654505</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Chủng tộc bất tử</td>
                <td>164808183</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Người khổng lồ xanh phi thường</td>
                <td>134806913</td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                </tbody></table>
        </div>
        <div>
            <img src="../static/img/myandcanada.png" alt="Biểu đồ doanh thu khu vực Mỹ và Cananda">
        </div>
        <div>
            <p><h3>Top 5 phim có  doanh thu cao nhất khu vực Mỹ và Cananda</h3></p>
            <img src="../static/img/top5myandcanada.png" alt="Top 5 phim có  doanh thu cao nhất khu vực Mỹ và Cananda">
        </div>
    </div>
    <div>
        <div>
            <p><h2>II.Doanh thu ở khu vực khác</h2></p>

        </div>
        <div>
            <table class="table table-bordered table-hover table-condensed">
                <thead><tr><th title="Field #1">Phim</th>
                <th title="Field #2">Doanh thu ở khu vực khác ($)</th>
                 </tr></thead>
                <tbody><tr>
                <td>Avengers: Hồi kết</td>
                <td>1939427564</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Avengers: Cuộc chiến vô cực</td>
                <td>1369544272</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Avengers: Đế chế Ultron</td>
                <td>946397826</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Biệt đội siêu anh hùng</td>
                <td>895455078</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Nhện không còn nhà</td>
                <td>867500000</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Sắt 3</td>
                <td>805797258</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Captain America: Nội chiến siêu anh hùng</td>
                <td>745220146</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Nhện xa nhà</td>
                <td>741395911</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Đại úy Marvel</td>
                <td>701444955</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Black Panther: Chiến binh Báo đen</td>
                <td>646853595</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Nhện về nhà</td>
                <td>545965784</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Thor: Tận thế Ragnarok</td>
                <td>538918837</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Vệ binh dải Ngân hà 2</td>
                <td>473942950</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Captain America 2: Chiến binh mùa đông</td>
                <td>454497695</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Doctor Strange: Phù thủy tối thượng</td>
                <td>445,076,475</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Vệ binh dải Ngân hà</td>
                <td>440152029</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Thor 2: Thế giới Bóng tối</td>
                <td>438209262</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Kiến và Chiến binh Ong</td>
                <td>406025399</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Kiến</td>
                <td>339109802</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Sắt 2</td>
                <td>311500000</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Thor</td>
                <td>268295994</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Sắt</td>
                <td>266762121</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Chủng tộc bất tử</td>
                <td>237027887</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Shang-Chi và huyền thoại thập luân</td>
                <td>207689718</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Góa phụ đen</td>
                <td>195979696</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Captain America: Kẻ báo thù đầu tiên</td>
                <td>193915269</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                <tr>
                <td>Người khổng lồ xanh phi thường</td>
                <td>128620638</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                </tr>
                </tbody></table>
        </div>
        <div>
            <img src="../static/img/khuvuckhac.png" alt="Biểu đồ doanh thu ở khu vực khác">
        </div>
        <div>
            <p><h3>Top 5 phim có doanh thu cao nhất ở khu vực khác</h3></p>
            <img src="../static/img/top5khuvuckhac.png" alt="Top 5 phim có doanh thu cao nhất khu vực khác">
        </div>
    </div>
    <div>
        <div>
            <p><h2>III.Doanh thu toàn cầu</h2></p>
        </div>
        <div>
            <table class="table table-bordered table-hover table-condensed">
                <thead><tr><th title="Field #1">Phim</th>
                <th title="Field #2">Doanh thu toàn cầu ($)</th>
                </tr></thead>
                <tbody><tr>
                <td>Avengers: Hồi kết</td>
                <td>2797800564</td>
                <td> </td>
                </tr>
                <tr>
                <td>Avengers: Cuộc chiến vô cực</td>
                <td>2048359754</td>
                <td> </td>
                </tr>
                <tr>
                <td>Người nhện không còn nhà</td>
                <td>1536253195</td>
                <td> </td>
                </tr>
                <tr>
                <td>Biệt đội siêu anh hùng</td>
                <td>1518812988</td>
                <td> </td>
                </tr>
                <tr>
                <td>Avengers: Đế chế Ultron</td>
                <td>1405403694</td>
                <td> </td>
                </tr>
                <tr>
                <td>Black Panther: Chiến binh Báo đen</td>
                <td>1346913161</td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Sắt 3</td>
                <td>1214811252</td>
                <td> </td>
                </tr>
                <tr>
                <td>Captain America: Nội chiến siêu anh hùng</td>
                <td>1153304495</td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Nhện xa nhà</td>
                <td>1131927996</td>
                <td> </td>
                </tr>
                <tr>
                <td>Đại úy Marvel</td>
                <td>1128274794</td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Nhện trở về nhà</td>
                <td>880166924</td>
                <td> </td>
                </tr>
                <tr>
                <td>Vệ binh dải Ngân hà 2</td>
                <td>863756051</td>
                <td> </td>
                </tr>
                <tr>
                <td>Thor: Tận thế Ragnarok</td>
                <td>853977126</td>
                <td> </td>
                </tr>
                <tr>
                <td>Vệ binh dải Ngân hà</td>
                <td>773328629</td>
                <td> </td>
                </tr>
                <tr>
                <td>Captain America 2: Chiến binh mùa đông</td>
                <td>714264267</td>
                <td> </td>
                </tr>
                <tr>
                <td>Doctor Strange: Phù thủy tối thưởng</td>
                <td>677,718,395</td>
                <td> </td>
                </tr>
                <tr>
                <td>Thor 2: Thế giới Bóng tối</td>
                <td>644571402</td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Sắt 2</td>
                <td>623933331</td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Kiến và Chiến binh Ong</td>
                <td>622674139</td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Sắt </td>
                <td>585174222</td>
                <td> </td>
                </tr>
                <tr>
                <td>Người kiến</td>
                <td>519311965</td>
                <td> </td>
                </tr>
                <tr>
                <td>Thor</td>
                <td>449326618</td>
                <td> </td>
                </tr>
                <tr>
                <td>Shang-Chi và huyền thoại thập luận</td>
                <td>432233010</td>
                <td> </td>
                </tr>
                <tr>
                <td>Chủng Tộc Bất Tử</td>
                <td>401836070</td>
                <td> </td>
                </tr>
                <tr>
                <td>Góa phụ đen</td>
                <td>379631351</td>
                <td> </td>
                </tr>
                <tr>
                <td>Captain America: Kẻ báo thù đầu tiên</td>
                <td>370569774</td>
                <td> </td>
                </tr>
                <tr>
                <td>Người khổng lồ xanh phi thường</td>
                <td>263427551</td>
                <td> </td>
                </tr>
                </tbody></table>
        </div>
        <div>
            <img src="../static/img/toancau.png" alt="Doanh thu toàn cầu">
        </div>
        <div>
            <p><h3>Top 5 phim có doanh thu cao nhất toàn cầu</h3></p>
            <img src="../static/img/top5toancau.png" alt="Top 5 doanh thu cao nhất toàn cầu">
        </div>

    </div>
    <div>
        <div>
            <p><h2>IV.Kinh phí sản xuất</h2></p>
        </div>
        <div>
            <table class="table table-bordered table-hover table-condensed">
                <thead><tr><th title="Field #1">Phim</th>
                <th title="Field #2">Kinh phí ($)</th>
                </tr></thead>
                <tbody><tr>
                <td>Avengers: Cuộc chiến vô cực</td>
                <td>400000000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Avengers: Đế chế Ultron</td>
                <td>365500000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Avengers: Hồi kết</td>
                <td>356000000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Doctor Strange: Phù thủy tối thượng</td>
                <td>236,600,000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Captain America: Nội chiến siêu anh hùng</td>
                <td>230000000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Biệt đội siêu anh hùng</td>
                <td>220000000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Black Panther: Chiến binh Báo đen</td>
                <td>210000000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Nhện không còn nhà</td>
                <td>200000000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Vệ binh dải Ngân hà 2</td>
                <td>200000000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Sắt 2</td>
                <td>200000000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Chủng tộc bất tử</td>
                <td>200000000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Shang-Chi và huyền thoại thập luân</td>
                <td>200000000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Góa phụ Đen</td>
                <td>200000000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Vệ binh dải Ngân hà</td>
                <td>195900000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Thor: Tận thế Ragnarok</td>
                <td>180000000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Sắt 3</td>
                <td>178400000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Captain America 2: Chiến binh mùa đông</td>
                <td>177000000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Đại úy Marvel</td>
                <td>175000000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Nhện trở về nhà</td>
                <td>175000000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Kiến và Chiến binh Ong</td>
                <td>162000000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Nhện xa nhà</td>
                <td>160000000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Thor 2: Thế giới Bóng tối</td>
                <td>152700000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Thor</td>
                <td>150000000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Người khổng lồ xanh phi thường</td>
                <td>150000000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Sắt</td>
                <td>140000000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Captain America: Kẻ báo thù đầu tiên</td>
                <td>140000000</td>
                <td> </td>
                </tr>
                <tr>
                <td>Người Kiến</td>
                <td>109300000</td>
                <td> </td>
                </tr>
                </tbody></table>
        </div>
        <div>
            <img src="../static/img/kinhphi.png" alt="Kinh phí sản xuất">
        </div>
    </div>
    <div>
        <P><H2>V.Biểu đồ "Kinh phí" và "Doanh thu"</H2></P>
        <div>
            <p><h3>1.Khu vực Mỹ và Canada</h3></p>
            <img src="../static/img/kinhphianddoanthumycanada.png" alt="">
        </div>
        <div>
            <p><h3>2.Khu vực khác</h3></p>
            <img src="../static/img/kinhphianddoanhthukhuvuckhac.png" alt="">
        </div>
        <div>
            <p><h3>3.Toàn cầu</h3></p>
            <img src="../static/img/kinhphianddoanhthutoancau.png" alt="">
        </div>

    </div>

    
    
</body>
</html>